.white{
  color:black;
}
ul#menu li a{
    background-color: black;
    color: white;
    padding: 10px 60px;
    border-radius: 10px 10px 0 0;

}

#menu li{
  display: inline;
  text-decoration: none;
}
#one{
  width:100%;
  height:130px;

}


h1 {
    font-size: 60px;
    text-align: left;
  }


h2 {
  font-family: "Impact, Charcoal, sans-serif";
font-size: 50px;
}

#six{
  width:90%;
  height:300px;

}






a:hover, a:active   {
  background-color: green;
}

u {
  text-decoration: none;
}
